#container {
  position: relative;
  height: 100%;
  width: 100%;
}

#container a-scene, #overlay {
  position: absolute;
  
}

a-scene{
	height: 100%;
  	width: 100%;
}

#overlay{
	height: 50%;
	width: 50%;
	top: 25%;
	right: 25%;
	z-index: 2;
}

#logo{
	position:absolute;
	bottom: 5%;
	right: 5%;
	z-index: 2;
	width: 20%
}

#loading{
	position: absoulte;
	z-index:-10;
}